*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild

.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/dictionaries
.idea/libraries
.idea/modules.xml
.idea/runConfigurations.xml
.idea/misc.xml
.idea/vcs.xml